# --- IDE / Gradle ---
*.iml
.gradle/
.idea/
local.properties

# --- SO ---
.DS_Store
Thumbs.db

# --- Build outputs ---
/build/
# build del módulo app
/app/build/

# NDK / builds externos
.cxx/
.externalNativeBuild/

# Capturas del emulador
/captures/

# --- Artefactos (no versionar binarios) ---
*.apk
*.ap_
*.aab

# --- Firmas y secretos (nunca al repo) ---
*.jks
*.keystore
**/keystore.properties
**/signing.properties

/caches/
/daemon/
/wrapper/

